<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <!-- MDBootstrap Datatables  -->
    <link href="css/addons/datatables.min.css" rel="stylesheet">

    <!-- bootstrap 5 css -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous" />

    <!-- BOX ICONS CSS-->
    <link href="https://cdn.jsdelivr.net/npm/boxicons@2.0.5/css/boxicons.min.css" rel="stylesheet" />

    <!-- custom css -->
    <style>
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        body {
            min-height: 100vh;
            background-color: rgb(14, 13, 13);
            /* overflow: hidden; */
        }

        .side-navbar {

            width: 180px;
            height: 100%;
            position: fixed;
            margin-left: -300px;
            background-color: #100901;
            transition: 0.5s;
        }

        .nav-link:active,
        .nav-link:focus,
        .nav-link:hover {
            background-color: rgb(50, 243, 50);
            cursor: pointer;
        }

        .my-container {
            transition: 0.4s;
        }

        .active-nav {
            margin-left: 0;
        }

        /* for main section */
        .active-cont {
            margin-left: 180px;
        }

        #menu-btn {

            background-color: rgb(50, 243, 50);
            color: #fff;
            margin-left: -62px;
        }

        #menu-btn:hover {
            background-color: rgb(50, 243, 50);
            cursor: pointer;
        }

        .my-container input {
            border-radius: 2rem;
            padding: 2px 20px;
        }

        #top {
            margin-left: 5px;
        }

        #singlebutton {
            background-color: blue;
            height: 35px;
            width: 70px;
            color: black;
            margin: 8px;

        }
        #singlebutton:hover{
            background-color: lime;
        }
    
    </style>

</head>

<body>
    <!-- Side-Nav -->
    <div class="side-navbar active-nav d-flex justify-content-between flex-wrap flex-column" id="sidebar">
        <ul class="nav flex-column text-white w-100">
            <a href="#" class="nav-link h3 text-white my-2">
                Dashboard
            </a>
            <li href="#" class="nav-link">
                <i class="bx bxs-dashboard"></i>
                <span class="mx-2">Home</span>
            </li>
            <li href="#" class="nav-link">
                <i class="bx bx-user-check"></i>
                <span class="mx-2">Profile</span>
            </li>
            <li href="#" class="nav-link">
                <i class="bx bx-conversation"></i>
                <span class="mx-2">Contact</span>
            </li>
        </ul>

        <span href="#" class="nav-link h4 w-100 mb-5">
            <a href=""><i class="bx bxl-instagram-alt text-white"></i></a>
            <a href=""><i class="bx bxl-twitter px-2 text-white"></i></a>
            <a href=""><i class="bx bxl-facebook text-white"></i></a>
        </span>
    </div>

    <!-- Main Wrapper -->
    <div class="p-1 my-container active-cont">
        <!-- Top Nav -->
        <nav class="navbar top-navbar navbar-dark  px-5" id="top">
            <a class="btn border-4" id="menu-btn"><i class="bx bx-menu"></i></a>
        </nav>
        <!--End Top Nav -->
desc
        <form class="form-horizontal" action="/createProject" method="POST">
            <fieldset>

                <!-- Form Name -->
                <legend style="display: flex; align-items: center; justify-content: center; color: white;">ADD PROJECT</legend>

                <!-- Text input-->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="product_id" style="color:white; padding:4px">PROJECT NAME</label>
                    <div class="col-md-4">
                        <input id="product_id" name="projectName" placeholder="PROJECT NAME" class="form-control input-md"
                            required="" type="text">

                    </div>
                </div>



                <!-- Text input-->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="product_weight" style="color:white; padding:4px">MEMBERS</label>
                    <div class="col-md-4">
                        <input id="product_weight" name="members" placeholder="MEMBER 1"
                            class="form-control input-md" required="" type="text">
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-4 control-label" for="product_weight" style="color:white; padding:4px">     </label>
                    <div class="col-md-4">
                        <input id="product_weight" name="members" placeholder="MEMBER 2"
                            class="form-control input-md" required="" type="text">
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-4 control-label" for="product_weight" style="color:white; padding:4px">     </label>
                    <div class="col-md-4">
                        <input id="product_weight" name="members" placeholder="MEMBER 3"
                            class="form-control input-md" required="" type="text">
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-4 control-label" for="product_weight" style="color:white; padding:4px">     </label>
                    <div class="col-md-4">
                        <input id="product_weight" name="members" placeholder="MEMBER 4"
                            class="form-control input-md" required="" type="text">
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-4 control-label" for="product_weight" style="color:white; padding:4px">     </label>
                    <div class="col-md-4">
                        <input id="product_weight" name="members" placeholder="MEMBER 5"
                            class="form-control input-md" required="" type="text">
                    </div>
                </div>

                <!-- Textarea -->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="product_description" style="color:white; padding:4px"> DESCRIPTION</label>
                    <div class="col-md-4">
                        <textarea class="form-control" id="desc" name="desc"></textarea>
                    </div>
                </div>

                <button id="singlebutton" name="singlebutton" class="btn btn-primary" type="submit">ADD</button>
                <a href="#" class="nav-item nav-link">Back</a>


            </fieldset>
        </form>





        <!-- bootstrap js -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
            crossorigin="anonymous"></script>
        <!-- custom js -->
        <script>

            var menu_btn = document.querySelector("#menu-btn");
            var sidebar = document.querySelector("#sidebar");
            var container = document.querySelector(".my-container");
            menu_btn.addEventListener("click", () => {
                sidebar.classList.toggle("active-nav");
                container.classList.toggle("active-cont");
            });
        </script>
</body>

</html>
